<center>
  <div class="container">
    <div id="header">
      <h1><strong>Ideas In A Box</strong></h1>
    </div>

    <div class="well" id="ideaWell">
      <form class="form-inline" id="newIdea">
        <div class="form-group">
          <label for="titleField">Title</label>
          <input class="form-control" type="text" id="titleField" name="title" placeholder="Idea Title">
        </div>

        <div class="form-group">
          <label for="bodyField">Body</label>
          <input class="form-control" type="text" id="bodyField" name="body" placeholder="Idea Body (description)">
        </div>

        <button type="submit" id="submitIdea" class="btn btn-primary">Create Idea</button>
      </form>
    </div>

    <div class="ideas"></div>
      <table class="table table-hover" id="ideas_table">
        <thead>
          <tr>
            <th><h4>Title</h4></th>
            <th><h4>Body</h4></th>
            <th><h4>Quality</h4></th>
            <th><center><h4>Vote</h4></center></th>
            <th><center><h4>Delete</h4></center></th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
  </div>
</center>
